version: '2'
services:

  # Teleport is a single-node Teleport cluster running all 3 services (Auth, Proxy, and Web).
  # It assumes that teleport source code is in the same parent dir as teleport-plugins, i.e.
  # ../../teleport.
  #
  teleport:
    image: teleport-ent:latest
    env_file: 
      - teleport.env
    container_name: teleport
    command: ${CONTAINERHOME}/build/teleport start -d -c ${PLUGINSHOME}/docker/teleport/teleport.yaml
    mem_limit: 300M
    ports:
      - "3080:3080"
      - "3023:3023"
      - "3025:3025"
    volumes:
      - ./data/var/lib/teleport:/var/lib/teleport
      - ../../teleport:/root/go/src/github.com/gravitational/teleport
      - ..:/root/go/src/github.com/gravitational/teleport-plugins
      - certs:/mnt/shared/certs
    networks:
      teleport-network:
        ipv4_address: 172.10.1.1
        aliases:
          - "teleport.cluster.local"

  teleport-slack:
    image: teleport-slack:latest
    container_name: teleport_slack_plugin
    command: ${PLUGINSHOME}/access/slack/build/teleport-slack start -c ${PLUGINSHOME}/docker/slack/teleport-slack.toml
    env_file: 
      - teleport.env
    mem_limit: 300M
    volumes:
      - ./data/var/lib/teleport:/var/lib/teleport
      - ../../teleport:/root/go/src/github.com/gravitational/teleport
      - ..:/root/go/src/github.com/gravitational/teleport-plugins
      - certs:/mnt/shared/certs

    networks:
      teleport-network:
        ipv4_address: 172.10.1.41
        aliases:
          - "teleport-slack.cluster.local"

# This piece is straight from teleport's docker-compose
networks:
  teleport-network:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 172.10.1.0/16
        ip_range: 172.10.1.0/24
        gateway: 172.10.1.254

volumes:
  certs:
